body {
    background-color: rgb(223, 195, 192);
}

main {
    background-color: salmon;
    width: 100%;
    position: relative;
    top: 300px;
}

header {
    position: fixed;    
    width: 100%;
    height: 100px;
    z-index: 7;
}

.himage {
    width: 300px;
    position: relative;
}

#salmon1 {
    float: left;
    top: 60px;
    left: 10%;
}

#chinook1 {
    float: right;
    top: 0px;
    right: 10%;
}

#title {
    font-family: cursive;
    font-size: 48px;
    position: relative;
    top: 80px;
    left: 20%;
    right: 20%;
    text-decoration: blink;

}

ul {
    position: relative;
    top: 150px;
    width: 100%;
    height: 100px;
    background-color: lightskyblue;
}

li {
    display: inline;
    margin: 50px;
}

#frosted1 {
    position: absolute;
    top: 100px;
    left: 40%;
}
.powerStatement {
    position: absolute;
    top: 300px;
    text-align: center;
}

#invent {
    font-size: 40px;
    left: 23%;
}

#revolution {
    top: 350px;
    font-size: 50px;
    left: 28%;
}

#lesserStatement {
    top: 400px;
    font-size: 25px;
    left: 33%;
}

#familyStatement {
    top: 440px;
    font-size: 20px;
    left: 42%;
}

#family {
    position: absolute;
    top: 500px;
    left: 34%;
    width: 30%;
}

#one {
    color: chocolate;
}
#two {
    color: red;
}
#three {
    color: brown;
}