#header {
    
    width: 100%;
    height: 200px;
}

.himage {
    width: 300px;
}

#salmon1 {
    float: left;
    position: relative;
    top: 60px;
    left: 100px;
}

#chinook1 {
    float: right;
    position: relative;
    top: 0px;
    right: 300px;
}

#title {
    font-family: cursive;
    font-size: 48px;
    position: relative;
    top: 80px;
    left: 300px;
    text-decoration: blink;

}

ul {
    position: relative;
    top: 150px;
    width: 100%;
    height: 20px;
    background-color: lightskyblue;
    z-index: -2;
}

li {
    display: inline;
    margin: 50px;
}

main {
    position: relative;
    top: 40px;
}

th tr {
    border: 20px;
}
tr:nth-child(even) {
    background-color: silver;
}

table {
    position: absolute;
    top: 50px;
    left: 200px;
    z-index: 7;
    float: center;
    height: 400px;
    width: 1200px;
    text-align: center;
    outline: 2px;
}

#add-store {
    position: absolute;
    top: 0px;
    left: 100px;
    float: center;
}